.button {
  position: relative;
  padding: 8px;
  cursor: pointer;
  border: none;
  border-radius: var(--radius);
  transition: all 0.3s ease;
  opacity: 1;
  background-color: var(--text-color);
  color: var(--border-color);
}

.button:hover {
  opacity: 0.9;
}

.button:active {
  opacity: 0.4;
}

.back-button {
  background-color: var(--primary-color);
  color: white;
}

.back-button:hover {
  background-color: var(--secondary-color);
}

.submit-btn {
  background-color: var(--primary-color);
  color: white;
}

.submit-btn:hover {
  background-color: var(--secondary-color);
}

.close-btn {
  background-color: #ff4444;
  color: white;
}

.edit-btn {
  background-color: var(--success-color);
  color: white;
}

.edit-btn:hover {
  background-color: #059669; /* Darker green */
}

.delete-btn {
  background-color: var(--error-color);
  color: white;
}

.delete-btn:hover {
  background-color: #dc2626; /* Darker red */
}

.toggle-button {
  background-color: var(--primary-color);
  color: white;
}

.toggle-button:hover {
  background-color: var(--secondary-color);
}
